*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.card{
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    gap: 10px;
    box-shadow: 2px solid rgb(231, 121, 121);
}
.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 30px;
    border: 1px solid rgb(88, 20, 20);
}
.card h2{
    text-align: center;
    white-space: nowrap;
    font-size: 1.7rem;
    margin-top: 1rem ;
    margin-bottom: 0.5rem;
    font-weight: 900;
}
.card h3{
    text-align: center;
    white-space: nowrap;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.card p{
    text-align: center;
    font-size: 1.05rem;
    background-color: #555;
    padding: 10px;
    color: white;
    border-radius: 20px;
}