*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
        width: 100%;
        height: 100vh;
        background-color: black;
        color: white;
        
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

#box{
    background-color: rgb(48, 171, 175);
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
button{
    background-color: mediumorchid;color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
button:active{
    scale: .95;
}
