*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    height: 100%;
    background-color: black;
}

.audio{
    background-color: white;
    position: absolute;
    height: 100px;
    width: 20px;
    color: black;
    top: 50%;
    left: 2%;
    text-align: center;

}