*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    color: white;
    text-align: center;
    color: rosybrown;
}
.audio{
    background-color: white;
    height: 100px;
    width: 50px;
    color: black;
    text-align: center;
    margin: 0px 10px;
    margin-top: 20%;
    border-radius: 10px;
}   
button{
    font-size: 1.5rem;
    margin: 5px 0px;
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 20px;
}