*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;height: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 80px 250px 1fr;
    grid-template-areas: "header header"
    "aside section1"
    "section2 section2";
}
header{
    background-color: rgb(255, 255, 255);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    color: black;
}
header h1{
    background-color: white;
    color:black ;
    padding: 0px 60px;
    padding-top: 20px;
    font-size: 1.2rem;
}
header .links a{
    text-decoration: none;
    margin: 0px 30px;
    background-color: white;
    color: #222;
    
}
header  .links{
    background-color: white;
    color: black;
    padding: 30px;
}
header .btn button{
    background-color: white;
    color: black;
    padding: 10px 25px;
    border: 2px solid #0260FD;
    color: #0260FD;
    border-radius: 20px;

}
header .btn{
    background-color: white;
    color: black;
    padding: 20px;
    padding-right: 90px;    
}
header #btn2{
    background-color: #0260FD;
    color: white;
}

aside{
    background-color: #e9e7e7;
    grid-area: aside;
    color: black;
    font-size: 2.9rem;
    padding: 60px 30px;
}
#sec1{
    background-color: #e9e7e7;
    grid-area: section1;
    color: #666;
    font-weight:100;
    padding: 50px 0px;
    padding-right: 40px;
    font-size: 1.2rem;

    padding-top: 70px;

}
#sec1 .btn3{
    background-color: #0260FD;
    border: none;
    font-size: 1.4rem;
    padding: 10px 30px;
    margin: 20px 0px ;
    border-radius: 40px;

}
#sec1 .btn4{
    background-color: #e9e7e7;
    border: none;
    color: #0260FD;
    border: 2px solid #0260FD;
    font-size: 1.4rem;
    padding: 10px 30px;
    margin: 20px 0px ;
    border-radius: 40px;
}
#sec2{
    background-color: #e9e7e7;
    grid-area: section2;
    width: 100%;
}
#sec2 img{
    width: 95%;
    height: 70%;
    background-size: contain;
    border-radius: 30px;
    margin: 0px 30px;
}