*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
        width: 100%;
        height: 100vh;
        background-color: #555;
        color: white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        color: wheat;
    }
    main{
        display: flex;
        gap: 20px;
    }

#box , #box2{
    background-color: rgb(151, 223, 226);
    /* border: 2px solid rgb(243, 241, 143); */
    width: 400px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    font-family: monospace;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;


}
    #box2{
        background-size:cover;
  background-position:center;
    }
button{
    background-color: mediumorchid;
    color: white;
    padding: 20px 80px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    font-family: monospace;
}
button:active{
    scale: .95;
    background-color: mediumpurple;
}

