*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body ,html{
    width: 100%;
    height: 100%;
    background-color: #0f0e0e;
    box-shadow: inset 0px 0px 20px rgb(27, 206, 146);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;align-items: center;
}
.card{
    width: 350px;
    background-color: rgb(27, 206, 146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgb(178, 238, 218);
    box-shadow: 0px 0px 10px rgb(7, 165, 91);

}
img{
    width: 300px;
    height: 350px;
    margin-top: 30px;
    border-radius: 20px;
    object-fit: cover;
}
.card i{
    position: absolute;
    top: 45%;
    right: 46%;
    font-size: 5rem;
    opacity: 0;
    background: url("https://img.freepik.com/free-vector/instagram-background-gradient-colors_23-2147819864.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;



}
h2{
    margin:20px 0px;
    font-family: monospace;
    font-size: 3rem;
    white-space: nowrap;
    color: #222;
}