*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body , html {
    width: 100%;
    width: 100%;
}
body{
     overflow: hidden;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    background-color: black;
    width: 30%;
    height:500px;
    margin-top: 20px;
    border-radius: 40px;
}
.img{
    height: 80%;
    border-radius: 40px; 
}
.img img{
    height: 100%;
    margin-top: 40px; 
    object-fit: contain;
    width: 100%;
}
.card h2{
    margin-top: 50px;
    text-align: center;
}
.love{
    opacity: 0;
    /* background-color: aqua; */
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
}