*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to right bottom , black, rgb(43, 42, 42)) ;
    overflow: hidden;
    background-repeat: no-repeat;
    
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
section img{
    height: 100%;
   border-radius: 20px;
}
.user{
    display: flex;
    gap: 30px;

}
.user button{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}
.reeluser{
    position:absolute;
    top: 75%;
    left: 35%;
    color: white;
    font-size: 0.7rem;
    
}
.sidepanel{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 30px;
    margin-top: 150px;
}
i{
    background-color: gray;
    border-radius: 50%;
    padding: 20px;
}
i:hover{
    background-color: #555;
}